.style-0 {
    table-layout: fixed; 
    width: 540pt
}

.style-1 {
    font-size: 1pt; 
    border-top: 2pt solid #5c7485
}

.style-10 {
    font-size: 1pt; 
    border-top: 1pt solid white; 
    border-bottom: 1pt solid white; 
    border-right: 1pt solid white
}

.style-11 {
    font-size: 1pt; 
    background-color: #5c7485
}

.style-12 {
    color: white; 
    font-size: 10pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #5c7485
}

.style-13 {
    color: white; 
    font-size: 10pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #5c7485
}

.style-14 {
    color: black; 
    font-size: 9pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-15 {
    color: #5c7485; 
    font-size: 7pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-16 {
    color: inherit; 
    font-size: inherit; 
    font-family: inherit; 
    font-weight: inherit; 
    font-style: inherit; 
    text-decoration: inherit
}

.style-17 {
    color: black; 
    font-size: 9pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-18 {
    color: black; 
    font-size: 9pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-top: 1pt solid #dfdfdf; 
    border-left: 1pt solid #dfdfdf; 
    border-bottom: 1pt solid #dfdfdf; 
    background-color: #dfdfdf
}

.style-19 {
    color: #5c7485; 
    font-size: 7pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-top: 1pt solid #dfdfdf; 
    border-bottom: 1pt solid #dfdfdf; 
    background-color: #dfdfdf
}

.style-2 {
    font-size: 1pt; 
    border-top: 1pt solid #5c7485
}

.style-20 {
    font-size: 1pt; 
    border-top: 1pt solid #dfdfdf; 
    border-bottom: 1pt solid #dfdfdf; 
    background-color: #dfdfdf
}

.style-21 {
    color: black; 
    font-size: 9pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    border-top: 1pt solid #dfdfdf; 
    border-bottom: 1pt solid #dfdfdf; 
    background-color: #dfdfdf
}

.style-22 {
    font-size: 1pt; 
    border-top: 1pt solid #dfdfdf; 
    border-bottom: 1pt solid #dfdfdf; 
    border-right: 1pt solid #dfdfdf; 
    background-color: #dfdfdf
}

.style-23 {
    font-size: 1pt; 
    border-top: 1pt solid black
}

.style-24 {
    font-size: 1pt; 
    background-color: #ffc607
}

.style-25 {
    color: black; 
    font-size: 10pt; 
    font-family: "Arial"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffc607
}

.style-26 {
    color: black; 
    font-size: 10pt; 
    font-family: "Arial"; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #ffc607
}

.style-27 {
    font-size: 1pt; 
    border-top: 1pt solid black; 
    border-bottom: 1pt solid black
}

.style-28 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-29 {
    width: 720px; 
    height: 667px
}

.style-3 {
    font-size: 1pt
}

.style-30 {
    color: black; 
    font-size: 8pt; 
    font-family: "Arial"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-31 {
    color: black; 
    font-size: 8pt; 
    font-family: "Arial"; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-32 {
    color: black; 
    font-size: 10pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-33 {
    color: black; 
    font-size: 10pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-4 {
    color: black; 
    font-size: 8pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-5 {
    color: black; 
    font-size: 8pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-6 {
    width: 53px; 
    height: 53px
}

.style-7 {
    font-size: 1pt; 
    border-top: 1pt solid white
}

.style-8 {
    font-size: 1pt; 
    border-top: 1pt solid white; 
    border-left: 1pt solid white; 
    border-bottom: 1pt solid white
}

.style-9 {
    font-size: 1pt; 
    border-top: 1pt solid white; 
    border-bottom: 1pt solid white
}

