.style-0 {
    table-layout: fixed; 
    width: 555pt
}

.style-1 {
    font-size: 1pt
}

.style-10 {
    font-size: 1pt; 
    background-color: white
}

.style-11 {
    color: #123d82; 
    font-size: 12pt; 
    font-family: sans-serif; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-12 {
    color: black; 
    font-size: 12pt; 
    font-family: sans-serif; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-13 {
    color: black; 
    font-size: 12pt; 
    font-family: sans-serif; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-14 {
    color: black; 
    font-size: 10pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-15 {
    width: 740px; 
    height: 303px
}

.style-2 {
    font-size: 1pt; 
    border-top: 1pt solid black
}

.style-3 {
    color: black; 
    font-size: 10pt; 
    font-family: serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: left; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-4 {
    width: 388px; 
    height: 59px
}

.style-5 {
    color: black; 
    font-size: 14pt; 
    font-family: sans-serif; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-6 {
    color: black; 
    font-size: 10pt; 
    font-family: sans-serif; 
    font-weight: normal; 
    font-style: normal; 
    text-decoration: none; 
    text-align: right; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap
}

.style-7 {
    font-size: 1pt; 
    background-color: black
}

.style-8 {
    color: white; 
    font-size: 14pt; 
    font-family: sans-serif; 
    font-weight: bold; 
    font-style: normal; 
    text-decoration: none; 
    text-align: center; 
    word-spacing: 0pt; 
    letter-spacing: 0pt; 
    white-space: pre-wrap; 
    background-color: #123d82
}

.style-9 {
    width: 740px; 
    height: 309px
}

